@model UserDetailViewModel 

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2 class="text-light">@Model.UserName</h2>
        </div>
        <div class="col-md-5">
            <h3 class="text-light">@Model.MinstrelType</h3>
            <h3 class="text-light">@Model.Description</h3>
        </div>
    </div>
</div>