@{
    ViewData["Title"] = "Home Page";
  
}

<div class="hero-container">
    <div class="black-fade row">
        <div class="hero-text  col-md-4">
            <h1 class="text-light">Meet and connect with other minstrels around you</h1>
            <h4 class="text-light">A community of minstrels, passionate about music and life. Ready to find your accountability partner?</h4>
            <button class="Start">Get Started</button>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        
    </div>
</div>

